<#extend name='admin@public/layout'#>

<#block name="style"#>

<#/block#>
<#block name='content'#>
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="<#:url('index/index')#>" class="maincolor">首页</a> <span class="c-999 en">&gt;</span><span class="c-666"><#$title#></span></nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            新内容
        </article>
    </div>
</section>
<#/block#>
<#block name='script'#>

<!-- 引入其他需要的js文件-->
<!--<script type="text/javascript" src=""></script>-->
<!-- 引入其他需要的js文件-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    (function() {

    })();
</script>
<!--/请在上方写此页面业务相关的脚本-->

<#/block#>