<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Ting here!</title>
<link rel="stylesheet" href="__CSS__/index/style.css">
</head>
<body class="mkeBody">
<div class="mkeHeadBox">Ting here! 一切陪你左右，伴你随行！</div>
<div class="mkeContentBox">
<!--效果html开始-->
    <div style="height:420px; width:100%; position:relative;">
        <!-- 书的主体 -->
        <div class="book preserve-3d">
            <!-- 书的最后一页 -->
            <div class="book-page-box book-page-4 preserve-3d">
                <div class="book-page page-front">
                    <p>玩你所乐</p>
                </div>
            </div>
            <!-- 书的第三页 -->
            <div class="book-page-box book-page-3 preserve-3d flip-animation-3">
                <div class="book-page page-front">
                    <p>见你所目</p>
                </div>
            </div>
            <!-- 书的第二页 -->
            <div class="book-page-box book-page-2 preserve-3d flip-animation-2">
                <div class="book-page page-front">
                    <p>听你所闻</p>
                </div>
            </div>
            <!-- 书的封面 -->
            <div class="book-page-box book-page-1 preserve-3d flip-animation-1">
                <div class="book-page page-front">
                    <p>
                        听这儿
                        <br>
                        Ting here!
                    </p>
                </div>
            </div>
        </div>
    </div>
<!--效果html结束-->
</div>
    <div style="text-align:center;">
        <p style='color:white'>Copyright ©2018 by www.tingthere.info 听这儿</p>
    </div>
</body>
</html>